body {
    background-color: black;


}
.regular {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #FF7ABB;
}
p.boxed {
    border-style: solid;
	border-width: 25px;
	border-color: red;
    padding: 25px;
    margin: 25px;
	color:red;
}

.menulist a {
	 display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
	font-family: graffiti;
}
.menulist a:hover {
	background-color: #FFB4F4;
}
.menulist {
 float: left;	
}
@font-face {
	
}
@font-face {
    font-family: graffiti;
	src: url(graffiti.otf);
}
.p {
    color: white;
}

h1 {
    color: white;
}